<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="description" content="{{ description | default("A site by Craig Regnier") }}">
  <title>{{ title | default("Craig Regnier") }} — craigregnier.com</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  {% set css %} {% include "style.css" %} {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
<body>
  <header>
    <h1>{{ title | default("Craig Regnier") }}</h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <a rel="me" href="https://mastodon.content.town/@regs" target="_blank">Mastodon</a>
  </footer>
</body>
</html>